################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/ExpandedWoodworking/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
